<form method="POST" action="/productos">
    <div>
        <label for="name">Nombre del producto: </label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="description">Descripcion: </label>
        <input type="text" id="description" name="description">
    </div>
    <div>
        <label for="price">Precio: </label>
        <input type="text" id="price" name="price">
    </div>
    <div>
        <input type="submit" value="Agregar">
    </div>
</form>