<h1>Producto</h1>
<table>
    <tr>
        <th>Nombre del producto: </th>
        <td>{{producto.name}}</td>
    </tr>
    <tr>
        <th>Descripcion del producto: </th>
        <td>{{producto.description}}</td>
    </tr>
    <tr>
        <th>Precio del producto: </th>
        <td>{{producto.price}}</td>
    </tr>
</table>