<div style="background-color: blue;">
    <h1 style="color: white; text-align:center; margin: 0 0 0 0;">Producto: {{producto.name}}</h1>
</div>

<div style="margin-top: 100px; width: 50%; margin-left: 25%; background-color: gainsboro; margin-top: 100px;">
    <table>
        <tr>
            <th>Nombre del producto: </th>
            <td>{{producto.name}}</td>
        </tr>
        <tr>
            <th>Descripcion del producto: </th>
            <td>{{producto.description}}</td>
        </tr>
        <tr>
            <th>Precio del producto: </th>
            <td>{{producto.price}}</td>
        </tr>
    </table>
</div>
